.block_packages_item_1 {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-basis: 320px;
    overflow: hidden;
}

.block_packages_item_1_wrap {
    padding: 5px;
    height: 100%;
}

.block_packages_item_1_text {
	position: relative;
	box-sizing: border-box;
    overflow: hidden;
    width: 320px;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.block_packages_item_1 .block_packages_item_text_1_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition:0.3s;
}

.block_packages_item_1 .block_packages_item_text_1 {
    flex: 1;
}

.block_packages_item_1 .block_packages_item_text_2_wrap {
    position: absolute;
    height: 100%;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    transition:0.3s;
}


.block_packages_item_1_wrap:hover .block_packages_item_text_2_wrap, .block_packages_item_text_2_wrap.hover {
    top: 0px;
}

.block_packages_1_item_button {
	display: block;
    width: auto;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
	font-size: 20px;
    text-decoration: none;	
}

.block_packages_item_text_2_wrap {
	display:flex;
	flex-direction:column;
}

.block_packages_item_text_2 {
	flex:1;
}