@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

#block_2, #block_3 {
	position: relative;
    z-index: 10;
}
#block_3 {
    margin-top: -210px;
}
/*
#block_2 {
    margin-top: 100px;
}
*/
@media screen and (min-width:768px) {
	#block_2::after {
		content:'';
		background:#f5f5f5;
		border-radius:50%;
		position:absolute;
		bottom: 120px;
		left: -17vw;
		width: 70vw;
		height: 60vw;
		color: #b5004e;
	}
	
	#block_2 h2::before {
		content: '';
		width: 80px;
		height: 80px;
		background: var(--color-1);
		border-radius: 50%;
		opacity: 0.3;
		display: inline-block;
	}	
	
	#block_2 >:last-child {
		z-index: 10;
		position: relative;
		margin-top: 0px !important;
	}
	h2 {
		font-family: 'Neucha', cursive;
		font-size: 48px;
		font-weight: 700;
		margin: 0;
		line-height: 1;
	}
}
/*
#block_4, #block_6{
	position: absolute;
    top: -15vw;
    left: 0;
    width: 100%;
}

.video_bg_video {
	width:100%;
}
*/
/**/

.wave_flex {
	max-height: 210px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.wave_relative {
    position: relative;
    overflow: hidden;
}

.wave_absolute {
	position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    opacity: 0.5;
    transform: rotate(2deg);
}

.wave_reverse {
	transform: rotate(180deg);
}

.wave_flex path {
	fill:var(--color-1);
}

.wave_gray path {
	fill:#f5f5f5;
}

.block_menu {
    width: 100% !important;
	box-shadow: none !important;
	background: rgb(255 255 255 / 50%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	backdrop-filter: blur(10px);
}

.button_custom {	
    margin: 5px;
    padding: 15px 35px;
	background:var(--color-1);
    font-size: 18px;
    text-decoration: none !important;
    transition: all 0.2s;
    font-weight: 600;
    text-align: center;
    transform: scale(1);
	color: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
}

img {
	max-width: 100%;
}

.block_case_1_text_wrap {
    order: -1;
}